body {
    font-family: sans-serif;
    color: black;
}

button {
    font-size: 18px;
}

.horiz {
    display: inline;
}

.vert {
    display: block;
}

.digit {
    display: inline-block;
    position: relative;
    height: 36px;
    width: 36px;
    margin: auto;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
}

.digit-small {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    margin: auto;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;

}

.numberContainer {
    white-space: nowrap;
}

.keypad {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
}

.keypad-container {
    padding-top: 12px;
    white-space: nowrap;
}

.digit div {
    display: inline;
}

[ng-drag]{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[ng-drag].dragging{
    opacity: 0.5;
    background-color: #CCCCCC
}

[ng-drop].drag-enter{
    background-color: #FF7777;
}
