<div ng-repeat="equation in equations">
    <div ng-class="equation.orientation">
        <div class="digit-small" ng-repeat="op1dig in equation.firstOperand">
            {{op1dig.val}}
        </div>
    </div>
    <div ng-class="equation.orientation">
        <div class="digit-small"> + </div>
        <div class="digit-small" ng-repeat="op2dig in equation.secondOperand">
            {{op2dig.val}}
        </div>
    </div>
    <div ng-class="equation.orientation">
        <div class="digit-small"> = </div>
        <div class="digit-small" ng-repeat="ansDig in equation.playerAnswerDisplay">
            <div>
                {{ansDig.val}}
            </div>
        </div>
        <div ng-show="equation.isAnswerCorrect" class="digit-small" style="color: green;">
            <div> &#x2713; </div>
        </div>
        <div ng-hide="equation.isAnswerCorrect" class="digit-small" style="color: red;">
            <div>X</div>
        </div>
    </div>
    <div ng-hide="equation.isAnswerCorrect">
        <div class="digit-small" style="width: auto;">Should be </div>
        <div class="digit-small" ng-repeat="ansDig in equation.displayAnswer">
            <div>
                {{ansDig.val}}
            </div>
        </div>
    </div>
    <hr />
</div>